/K2-ExoticArmory/obj/*.*
/K2-ExoticArmory/obj/Debug/netstandard2.1/*.*
/K2-ExoticArmory/obj/Debug/netstandard2.1/references
/K2-ExoticArmory/bin
/.vs
/output.lnk
/K2-ExoticArmory/K2-ExoticArmory.csproj
